
.navbar {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.463);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 10;
}
.navbar .logo {
  color: #fff;
  font-size: 1.5rem;
  padding-left: 1%;
}
.navbar .ul {
  list-style: none;
  padding-right: 1%;
  padding-top: 10px;
  display: flex;
  gap: 2rem;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}
.navbar a:hover {
  color: #66ccff;
}
.logo {
  font-family: Arial, sans-serif;
}

.logo-q-blue {
  color: #0000ff;
  font-size: 35pt;
  font-family: Arial, sans-serif;
}

.logo-r {
  font-size: 24pt;
  font-family: 'Lobster', cursive;
}

.logo-q-green {
  color: #38761d;
  font-size: 35pt;
  font-family: Arial, sans-serif;
}

.logo-e {
  font-size: 24pt;
  font-family: 'Pacifico', cursive;
}

.logo-text {
  color: #EA7769;
  font-size: 24pt;
  font-family: Arial, sans-serif;
  /* font-family: 'Lobster', cursive; */
}

.logo-llc {
  font-size: 16pt;
  font-family: Arial, sans-serif;
}
